<div class="clear index_form" ng-class="status" id="sign_up" ng-controller="SignUpController">
    <i class="icon-spin2 animate-spin load_spiner" ng-show="status == 'loading'"></i>

    <h2>注册</h2>

    <p class="error">
        <div ng-show="form.$submitted || form.name.$touched">
            <span ng-show="form.name.$error.remote">{{form.name.$error.remote | json}}</span>
        </div>
        <div ng-show="form.$submitted || form.email.$touched">
            <span ng-show="form.email.$error.taken">邮箱已经被占用.</span>
        </div>
        <div ng-show="form.$submitted || form.code.$touched">
            <span ng-show="form.code.$error.invalid">邮箱已经被占用.</span>
        </div>

    </p>

    <form ng-submit="submit(user);" role="form" name="form">
        <input type="text" name="name" ng-model="user.name" placeholder="用户名" required remote ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"/> <br>
        <input type="password" name="password" ng-model="user.password" required="required" placeholder="密码"/> <br>
        <input type="email" name="email" ng-model="user.email" placeholder="邮箱" remote ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"/> <br>
        <input type="text" name="code" ng-model="user.code" placeholder="邀请码" remote ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"/> <br>
        <p class="info"><a href="#">如果没有邀请码请点击此处申请</a></p>
        <label>
            <input type="checkbox" name="agree" required="required">我同意<a href="tos.html">服务条款</a>
        </label> <br>

        <button class="right" type="submit" ng-disabled="status != 'input'">注册</button>
        <a href="." class="cancel right">取消</a>
    </form>
</div>