<div class="clear index_form" ng-class="status" id="sign_up" ng-controller="SignUpController">
    <h2>注册</h2>

    <p class="warning">密码错误</p>

    <form ng-submit="submit(user);" role="form" name="form">
        <input ng-class="errors.name ? 'error' : ''" type="text" name="name" ng-model="user.name" required="required" placeholder="用户名" /> <br>
        <div ng-show="form.$submitted || form.name.$touched">
            <div ng-show="form.name.$error.required">Tell us your name.</div>
        </div>
        <input ng-class="errors.password ? 'error' : ''" type="password" name="password" ng-model="user.password" required="required" placeholder="密码"/> <br>
        <div ng-show="form.$submitted || form.uEmail.$touched">
            <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
            <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
        </div>
        <input ng-class="errors.email ? 'error' : ''" type="email" name="email" ng-model="user.email" required="required" placeholder="邮箱"/> <br>
        <div ng-show="form.$submitted || form.uEmail.$touched">
            <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
            <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
        </div>
        <input ng-class="errors.code ? 'error' : ''" type="text" name="code" ng-model="user.code" required="required" placeholder="邀请码"/> <br>
        <div ng-show="form.$submitted || form.uEmail.$touched">
            <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
            <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
        </div>
        <p class="info"><a href="#">如果没有邀请码请点击此处申请</a></p>
        <label>
            <input type="checkbox" name="agree" required="required">我同意<a href="tos.html">服务条款</a>
        </label> <br>

        <button class="right" type="submit" ng-disabled="status != 'input'">注册</button>
        <a href="." class="cancel right">取消</a>
    </form>
</div>