<div class="clear index_form" id="sign_in_wrapper">
    <h2>登录</h2>

    <!--<p class="warning">用户名不存在</p>-->

    <form id="sign_in" data-ng-submit="submit()">
        <input type="text" placeholder="用户名" name="username" data-ng-model="user.username" minlength="3" required/> <br>
        <input type="password" placeholder="密码" name="password" data-ng-model="user.password" required/> <br>

        <!--<label class="scheckbox"><input type="checkbox" name="save">保存登录状态</label> <br>-->
        <div id="sign-form-footer">
            <a id="password-reset" data-ui-sref="index.password_reset_1">找回密码</a>
            <div id="sign_action_button_group">
                <input type="button" data-ui-sref="index.index" value="取消">
                <input type="submit" value="登录">
            </div>
        </div>
    </form>
</div>