<div id="tutorial"><h1>协议列表</h1>
    <p>以下是 Railgun 支持的各种连接方式, 如果你对网络相关有足够的了解, 并且希望在 Railgun 没有直接写说明文档的其他平台上运行, 请参照这个列表进行配置.</p>
    <p>游戏主机通常支持 HTTP 代理, 路由器通常支持 PPTP 或 L2TP VPN. ChromeOS 对 HTTP 代理和 VPN 都支持. Chromecast 没有任何代理功能, 需要在上级网关上进行设置.</p>
    <p>如果发现有某个设备提供了代理/VPN功能, 但是 无法正常连接 Railgun, 请联系 support@railgun.ac</p>
    <h2>配置文件</h2>
    <table>
        <thead>
        <tr>
            <th>平台或协议</th>
            <th>版本需求</th>
            <th>地址</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>PAC</td>
            <td>-</td>
            <td><a href="http://p.lv5.ac/{{user.zone}}{{user.sub_password}}.pac">http://p.lv5.ac/{{user.zone}}{{user.sub_password}}.pac</a></td>
        </tr>
        <tr>
            <td>Windows</td>
            <td>7</td>
            <td><a href="http://p.lv5.ac/{{user.zone}}{{user.sub_password}}.bat">http://p.lv5.ac/{{user.zone}}{{user.sub_password}}.bat</a></td>
        </tr>
        <tr>
            <td>iOS</td>
            <td>7</td>
            <td><a href="http://p.lv5.ac/{{user.zone}}{{user.sub_password}}-{{user.username}}.mobileconfig">http://p.lv5.ac/{{user.zone}}{{user.sub_password}}-{{user.username}}.mobileconfig</a></td>
        </tr>
        <tr>
            <td>OSX</td>
            <td>El Caption</td>
            <td><a href="http://p.lv5.ac/{{user.zone}}{{user.sub_password}}-{{user.username}}.mobileconfig">http://p.lv5.ac/{{user.zone}}{{user.sub_password}}-{{user.username}}.mobileconfig</a></td>
        </tr>
        <tr>
            <td>OpenVPN</td>
            <td>-</td>
            <td><a href="http://p.lv5.ac/{{user.zone}}{{user.sub_password}}.ovpn">http://p.lv5.ac/{{user.zone}}{{user.sub_password}}.ovpn</a></td>
        </tr>
        </tbody>
    </table>
    <h2>代理</h2>
    <h3 id="http">1. HTTP</h3>
    <table>
        <thead>
        <tr>
            <th>属性</th>
            <th>值</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>主机</td>
            <td>{{user.zone}}.lv5.ac</td>
        </tr>
        <tr>
            <td>端口</td>
            <td>{{user.sub_password}}</td>
        </tr>
        </tbody>
    </table>
    <h3 id="https">2. HTTPS</h3>
    <table>
        <thead>
        <tr>
            <th>属性</th>
            <th>值</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>主机</td>
            <td>{{user.zone}}.lv5.ac</td>
        </tr>
        <tr>
            <td>端口</td>
            <td>{{user.sub_password_2}}</td>
        </tr>
        </tbody>
    </table>
    <p>浏览器设置页面里没有对这个协议的支持, 需要使用 PAC 或 SwitchyOmega.</p>
    <h3 id="shadowsocks">3. shadowsocks</h3>
    <table>
        <thead>
        <tr>
            <th>属性</th>
            <th>值</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>主机</td>
            <td>{{user.zone}}.lv5.ac</td>
        </tr>
        <tr>
            <td>端口</td>
            <td>{{user.sub_password_4}}</td>
        </tr>
        <tr>
            <td>加密方式</td>
            <td>aes-256-cfb</td>
        </tr>
        <tr>
            <td>密码</td>
            <td>railgun</td>
        </tr>
        </tbody>
    </table>
    <h2 id="vpn">VPN</h2>
    <h3 id="ikev2">1. IKEv2</h3>
    <table>
        <thead>
        <tr>
            <th>属性</th>
            <th>值</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>主机</td>
            <td>{{user.zone}}.lv5.ac</td>
        </tr>
        <tr>
            <td>用户名</td>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <td>密码</td>
            <td>{{user.sub_password}}</td>
        </tr>
        </tbody>
    </table>
    <p>Android 系统不支持.</p>
    <h3 id="ipsec-hybrid-rsa">2. IPSec HyBrid RSA</h3>
    <table>
        <thead>
        <tr>
            <th>属性</th>
            <th>值</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>主机</td>
            <td>{{user.zone}}.lv5.ac</td>
        </tr>
        <tr>
            <td>用户名</td>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <td>密码</td>
            <td>{{user.sub_password}}</td>
        </tr>
        </tbody>
    </table>
    <h3 id="ipsec-xauth-psk">3. IPSec XAuth PSK</h3>
    <table>
        <thead>
        <tr>
            <th>属性</th>
            <th>值</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>主机</td>
            <td>{{user.zone}}.lv5.ac</td>
        </tr>
        <tr>
            <td>用户名</td>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <td>密码</td>
            <td>{{user.sub_password}}</td>
        </tr>
        <tr>
            <td>预共享密钥</td>
            <td>Railgun</td>
        </tr>
        </tbody>
    </table>
    <p>iOS 和 OSX 把这个协议称作 Cisco IPSec.</p>
    <h3 id="pptp">4. PPTP</h3>
    <table>
        <thead>
        <tr>
            <th>属性</th>
            <th>值</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>主机</td>
            <td>{{user.zone}}.lv5.ac</td>
        </tr>
        <tr>
            <td>用户名</td>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <td>密码</td>
            <td>{{user.sub_password}}</td>
        </tr>
        </tbody>
    </table>
    <h3 id="l2tp">5. L2TP/IPSec</h3>
    <table>
        <thead>
        <tr>
            <th>属性</th>
            <th>值</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>主机</td>
            <td>{{user.zone}}.lv5.ac</td>
        </tr>
        <tr>
            <td>用户名</td>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <td>密码</td>
            <td>{{user.sub_password}}</td>
        </tr>
        <tr>
            <td>预共享密钥</td>
            <td>Railgun</td>
        </tr>
        </tbody>
    </table>
    <h3 id="openvpn">6. OpenVPN</h3>
    <table>
        <thead>
        <tr>
            <th>属性</th>
            <th>值</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>配置文件</td>
            <td><a href="http://p.lv5.ac/{{user.zone}}{{user.sub_password}}.ovpn">http://p.lv5.ac/{{user.zone}}{{user.sub_password}}.ovpn</a></td>
        </tr>
        <tr>
            <td>用户名</td>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <td>密码</td>
            <td>{{user.sub_password}}</td>
        </tr>
        </tbody>
    </table>
    <h3 id="anyconnect">7. AnyConnect (OpenConnect)</h3>
    <table>
        <thead>
        <tr>
            <th>属性</th>
            <th>值</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>主机</td>
            <td>{{user.zone}}.lv5.ac</td>
        </tr>
        <tr>
            <td>用户名</td>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <td>密码</td>
            <td>{{user.sub_password}}</td>
        </tr>
        </tbody>
    </table>
</div>