<h2>OS X 连接说明</h2>
<h3>HTTP 代理自动配置脚本 (PAC)</h3>
系统偏好设置 &gt 网络 &gt 选择正在使用的网络连接 &gt 高级 &gt 代理 &gt 自动代理配置
<dl>
    <dt>URL</dt>
    <dd>http://p.lv5.ac/{{user.zone}}{{user.sub_password}}.pac</dd>
</dl>

<hr>或者

<h3>IKEv2 VPN 描述文件</h3>
<p>下载 <a href="http://p.lv5.ac/{{user.zone}}{{user.sub_password}}-{{user.username}}.mobileconfig">http://p.lv5.ac/{{user.zone}}{{user.sub_password}}-{{user.username}}.mobileconfig</a> 并安装。</p>
<p>这个描述文件开启了按需功能，系统会在任何网络可用的时候自动进行 VPN 连接。如果你不需要这个功能，请在系统偏好设置 &gt 网络 &gt Railgun 页面下将 按需连接 的勾去掉。</p>
<p>描述文件支持 OS X 10.11 El Caption 或更高版本。</p>

<hr>或者
<a data-ui-sref="home.tutorials({platform:'expert'})">查看其他连接方式</a>