<ul id="features" layout="row" layout-sm="column">
    <div layout="row" flex>
        <li class="icon-fast" flex>
            <p class="title">快速</p>
            <p class="description">优选快速线路，多条途径，多种选择，带你起飞 ヽ(✿ﾟ▽ﾟ)ノ</p>
        </li>
        <li class="icon-mp" flex>
            <p class="title">省心</p>
            <p class="description">你需要的我们已经为您准备好，无须四处约〇 d(`･∀･)b</p>
        </li>
    </div>
    <div layout="row" flex>
        <li class="icon-ways" flex>
            <p class="title">选择</p>
            <p class="description">多种姿势供您选择，满足多种客户的花样需求 (ﾉ∀`*)</p>
        </li>
        <li class="icon-nothing" flex>
            <p class="title">探索</p>
            <p class="description">我们大家来捉鬼嘿！我们大家来捉鬼！ (*´▽`*)</p>
        </li>
    </div>
</ul>