img {
    height: 36px;
}

.payment_wrapper {
    border: 1px solid #ccc !important;
    width: 160px;
    height: 38px;
    display: inline-block;
    text-align: center;
    line-height: 36px;

}

.payment_wrapper > img {
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
}
