nav {
  transition: all ease-in 0.5s;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
}
nav ul {
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  background: #3e00a4;
}
nav ul li,
nav ul li:hover {
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
nav ul li a,
nav ul li:hover a {
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
nav ul li a {
  text-align: center;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px 30px;
  border: 0;
  font-weight: bold;
}
nav ul li:hover {
  background-color: #fdd000;
}
nav ul li:hover a {
  color: #000;
}
header {
  background: -webkit-linear-gradient(90deg, #5c00ff, #410cc7);
  position: relative;
  height: 500px;
  color: #fff;
}
header a:link,
header a:visited {
  color: #fff;
}
footer {
  font-size: 12px;
  line-height: 20px;
  background: #c0b5d3;
  padding: 20px 30px;
  color: #3c324d;
}
footer p {
  margin: 0;
}
footer p a:link,
footer p a:visited {
  color: #2c184f;
  text-decoration: none;
  border-bottom: 1px dashed #20113c;
}
#jumbotron {
  position: absolute;
  background: url("../images/title.png") no-repeat;
  background-size: auto 380px;
  background-position: 960px bottom;
  transition: background-position-x ease-in 0.5s;
  width: 100%;
  height: 500px;
}
#jumbotron .actions {
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  position: absolute;
  width: 300px;
  margin-left: -150px;
  left: 50%;
}
#jumbotron #intro {
  padding-top: 170px;
  text-align: center;
}
#jumbotron #intro h1 {
  font-size: 40px;
  line-height: 60px;
  font-weight: bold;
}
#jumbotron #intro .subtitle {
  font-size: 15px;
  line-height: 40px;
  font-weight: bold;
}
#jumbotron #intro #sign_buttons {
  display: inline-block;
  margin: 15px auto;
  border: 1px #fff solid;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}
#jumbotron #intro a {
  width: 98px;
  padding: 12px;
  display: inline-block;
}
#jumbotron #intro a:hover {
  color: #4e06e1;
  background: #fff;
  transition: all ease-in 0.3s;
}
#jumbotron #intro a:link,
#jumbotron #intro a:visited {
  text-decoration: none;
  border: none;
}
#jumbotron .sign-form {
  position: absolute;
  padding: 140px 35px 0 35px;
  width: 300px;
  font-size: 13px;
}
#jumbotron .sign-form h2 {
  font-size: 25px;
  line-height: 3em;
  text-align: center;
}
#jumbotron .sign-form .form-control {
  background: transparent;
  border: #fff 1px solid;
  border-radius: 3px;
  color: #fff;
  transition: all 0.2s ease-in;
  outline: none;
}
#jumbotron .sign-form button.form-control,
#jumbotron .sign-form a.form-control {
  text-decoration: none;
  margin: 0 3px;
  padding: 0 4px;
  line-height: 23px;
  display: inline-block;
}
#jumbotron .sign-form button.form-control:hover,
#jumbotron .sign-form a.form-control:hover {
  background: #fff;
  color: #5105e9;
  transition: all 0.2s ease-out;
}
#jumbotron .sign-form input[type=text].form-control,
#jumbotron .sign-form input[type=password].form-control {
  width: 218px;
  padding: 8px;
  margin: 5px 0;
}
#jumbotron .sign-form input[type=text].form-control::-webkit-input-placeholder,
#jumbotron .sign-form input[type=password].form-control::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.8;
  transition: all 0.2s ease-in;
}
#jumbotron .sign-form input[type=text].form-control::-moz-placeholder,
#jumbotron .sign-form input[type=password].form-control::-moz-placeholder {
  color: #fff;
  opacity: 0.8;
  transition: all 0.2s ease-in;
}
#jumbotron .sign-form input[type=text].form-control:-moz-placeholder,
#jumbotron .sign-form input[type=password].form-control:-moz-placeholder {
  color: #fff;
  opacity: 0.8;
  transition: all 0.2s ease-in;
}
#jumbotron .sign-form input[type=text].form-control:-ms-input-placeholder,
#jumbotron .sign-form input[type=password].form-control:-ms-input-placeholder {
  color: #fff;
  opacity: 0.8;
  transition: all 0.2s ease-in;
}
#jumbotron .sign-form input[type=text].form-control:focus,
#jumbotron .sign-form input[type=password].form-control:focus {
  background: #fff;
  color: #5105e9;
  transition: all 0.2s ease-out;
}
#jumbotron .sign-form input[type=text].form-control:focus::-webkit-input-placeholder,
#jumbotron .sign-form input[type=password].form-control:focus::-webkit-input-placeholder {
  color: #5105e9;
  opacity: 1;
}
#jumbotron .sign-form input[type=text].form-control:focus::-moz-placeholder,
#jumbotron .sign-form input[type=password].form-control:focus::-moz-placeholder {
  color: #5105e9;
  opacity: 1;
}
#jumbotron .sign-form input[type=text].form-control:focus:-moz-placeholder,
#jumbotron .sign-form input[type=password].form-control:focus:-moz-placeholder {
  color: #5105e9;
  opacity: 1;
}
#jumbotron .sign-form input[type=text].form-control:focus:-ms-input-placeholder,
#jumbotron .sign-form input[type=password].form-control:focus:-ms-input-placeholder {
  color: #5105e9;
  opacity: 1;
}
#jumbotron .sign-form input[type=checkbox].form-control {
  vertical-align: inherit;
  margin-right: 5px;
}
#jumbotron .sign-form .sign-buttons {
  float: right;
}
#jumbotron #sign-up {
  padding-top: 100px;
}
#jumbotron #sign-up #tos-link {
  text-decoration: none;
  border-bottom: 1px #fff dashed;
  margin-bottom: 4px;
}
#jumbotron #sign-up .sign-buttons {
  margin-top: 10px;
}
.feature {
  text-align: center;
  position: relative;
  margin: 30px 30px;
}
.feature:before {
  left: 50%;
  font-size: 90px;
  color: #5f25ee;
  margin-left: -45px;
  display: block;
  position: absolute;
}
.feature .title {
  font-size: 30px;
  line-height: 50px;
  color: #1a0b3d;
  margin-top: 90px;
}
.feature .description {
  margin-top: 5px;
  font-size: 14px;
  line-height: 25px;
  color: #301d5f;
  font-weight: 500;
}
.actions {
  position: absolute;
  opacity: 1;
  top: 0;
  transition: all 0.4s ease-in-out;
}
.actions.ng-enter-active,
.actions.ng-leave {
  opacity: 1;
  top: 0;
}
.actions.ng-leave-active,
.actions.ng-enter {
  opacity: 0;
}
.actions.ng-leave-active {
  top: 100px;
}
.actions.ng-enter {
  top: -100px;
}
body.sign_in .actions.ng-leave-active,
body.sign_up .actions.ng-leave-active {
  top: -100px;
}
body.sign_in .actions.ng-enter,
body.sign_up .actions.ng-enter {
  top: 100px;
}
@media (min-width: 600px) {
  nav {
    top: 20px;
    width: 418px;
  }
  ul {
    transform: skew(-22.5deg);
    padding-left: 20px;
    padding-right: 30px;
    margin-left: 15px;
    margin-right: -15px;
  }
  ul li a {
    transform: skew(22.5deg);
  }
}
@media (min-width: 960px) {
  #jumbotron {
    background-position-x: 80%;
  }
  #jumbotron .actions {
    margin-left: 0;
    left: 13%;
  }
}
