nav
  transition: all ease-in .5s;
  position absolute
  overflow: hidden;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  ul
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    background: #3e00a4;

    li
      &, &:hover
        transition-property: background-color
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
        a
          transition-property: color
          transition-duration: 300ms;
          transition-timing-function: ease-in-out;
      a
        text-align: center;
        color: white;
        text-decoration: none;
        display: block;

        padding: 20px 30px;
        border: 0;
        font-weight bold

      &:hover
        background-color: #fdd000
        a
          color: black



header
  background -webkit-linear-gradient(90deg, #5c00ff, #410cc7)
  position relative
  color white
  a
    color white
    text-decoration none
.welcome header
    min-height: 500px;
.my header
    min-height: 200px;


footer
  font-size 12px
  line-height 20px
  background #c0b5d3
  padding 20px 30px
  color #3c324d
  p
    margin 0
    a
      color #2c184f
      text-decoration none
      border-bottom 1px dashed #20113c
#body
  background-color #fafafa
//index
#jumbotron
  position absolute
  background url("../images/title.png") no-repeat;
  background-size auto 380px
  background-position: 960px bottom;
  transition: background-position-x ease-in .5s;
  width: 100%;
  height: 500px;

  //index.index
  .actions
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    position absolute
    width 300px
    margin-left: -150px;
    left: 50%;

  #intro
    padding-top 170px
    text-align center
    h1
      font-size: 40px;
      line-height: 60px;
      font-weight: bold;
    .subtitle
      font-size: 15px;
      line-height: 40px;
      font-weight bold
    #sign_buttons
      display: inline-block;
      margin: 15px auto;
      border: 1px white solid;
      border-radius: 3px;
      font-size: 12px;
      font-weight bold
    a
      width: 98px;
      padding: 12px;
      display: inline-block;
      &:hover
        color: #4e06e1;
        background: white;
        transition: all ease-in 0.3s;
    a
      text-decoration: none;
      border: none;
  //index.sign_in
  .sign-form
    position absolute
    padding 140px 35px 0 35px
    width 300px
    font-size: 13px;

    h2
      font-size: 25px;
      line-height: 3em;
      text-align: center;
    .form-control
      background: transparent;
      border: white 1px solid;
      border-radius: 3px;
      color: white;
      transition: all 0.2s ease-in;
      outline: none;
    button.form-control, a.form-control
        text-decoration none
        margin: 0 3px;
        padding: 0 4px;
        line-height 23px
        display inline-block
        &:hover
          background: white;
          color: #5105e9;
          transition: all 0.2s ease-out;
    .form-control[type=text], .form-control[type=password], .form-control[type=email]
      width: 218px;
      padding: 8px;
      margin: 5px 0;
      &::-webkit-input-placeholder {
        color: white;
        opacity: 0.8;
        transition: all 0.2s ease-in;
      }
      &::-moz-placeholder {
        color: white;
        opacity: 0.8;
        transition: all 0.2s ease-in;
      }
      &:-moz-placeholder {
        color: white;
        opacity: 0.8;
        transition: all 0.2s ease-in;
      }
      &:-ms-input-placeholder {
        color: white;
        opacity: 0.8;
        transition: all 0.2s ease-in;
      }
      &:focus {
        background: white;
        color: #5105e9;
        transition: all 0.2s ease-out;
        &::-webkit-input-placeholder {
          color: #5105e9;
          opacity: 1;
        }
        &::-moz-placeholder {
          color: #5105e9;
          opacity: 1;
        }
        &:-moz-placeholder {
          color: #5105e9;
          opacity: 1;
        }
        &:-ms-input-placeholder {
          color: #5105e9;
          opacity: 1;
        }
      }
    input[type=checkbox].form-control
      vertical-align inherit
      margin-right: 5px;
    .sign-buttons
      float:right
  #sign-up
    padding-top 100px
    #tos-link
      text-decoration: none;
      border-bottom: 1px white dashed;
      margin-bottom 4px
    .sign-buttons
      margin-top: 10px;

//my header
#user
  margin: 0;
  padding: 40px 30px;
  transition: all 0.5s;
#user-avatar
  width: 136px;
  height: 136px;
  border: white 8px solid;
  -webkit-border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  float: left
#user-detail
  float: left
  margin: 0 0 0 20px;
#user-name-type
  margin: 29px 0 10px 0;
#user-name
  font-size: 30px;
  margin: 0 10px 10px 4px;
.user-tag
  color: #ffae00;
#pay-button
  border: 1px white solid;
  border-radius: 3px;
  font-size: 11px;
  margin: 0 0 0 10px;
  padding: 2px 6px;
  transition: all ease-out 0.2s
  text-decoration none
.feature
  text-align center
  position relative
  margin 30px 30px
  &:before
    left: 50%;
    font-size: 90px;
    color: #5f25ee;
    margin-left: -45px;
    display: block;
    position: absolute;
  .title
    font-size 30px
    line-height 50px
    color #1a0b3d
    margin-top 90px
  .description
    margin-top 5px
    font-size 14px
    line-height 25px
    color #301d5f
    font-weight 500

//my body
#my-container
  padding: 15px 50px;
.my.index h2
  font-size: 20px;
  line-height: 40px;
  font-weight: normal;
  color: #454545;
#current-platform-logo
  font-size: 65px;
  color: #1f1138;
  -webkit-box-pack: center;
  align-items: center;
  float: left
#current-platform-tutorial
  margin-left: 120px;
#current-platform
  dl,dt,dd
    border solid 1px black
  dl
    width: 400px;
  dt
    float: left;
    width: 160px;
  dd
    margin-left: 160px;
#current-platform-detail
  margin-left: 160px;
.my-section
  overflow hidden
  margin 10px 0 20px 0
  li a
    float left
    width: 120px;
    text-align: center;
    text-decoration: none;
    color: #140b24;
    font-size: 12px;
    &::before
      left: 50%;
      margin: 20px 0;
      margin-left: -20px;
      color: #3a2c52;
      font-size: 40px;
      text-align: center;
      display: block;
      position: relative;
      transition: all 0.2s ease-in-out;
//account
.table-horizontal
  width: 100%
  td
    padding: 0.4em 0.3em 0.4em 0.4em;
  td:nth-of-type(1)
    text-align: right;
    font-weight: bold;
  td:nth-of-type(3)
    font-size: 12px;
    color: #777;
.form-group
  clear: both;
.payment-label
  width: 16.66666667%;
  padding: 7px 15px inherit 15px
  text-align: right;
  font-weight bold
  float left
.payment-value
  width: 83.33333333%;
  float left
  input[name=amount]
    width: 160px;

input[name=method]
  margin:0;padding:0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  &:checked + .payment-method-label
    background-color: #c0b5d3;
.payment-method-label
  width: 115px;
  height: 48px;
  margin: 5px 4px;
  display inline-block
  background-size: 100px
  background-repeat no-repeat
  background-position center
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
  border-radius: 5px;
  transition: box-shadow 0.3s ease-out, background-color 0.3s ease-out
  &:hover
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)
a.payment-method-label
  line-height: 48px;
  vertical-align: top;
  text-align: center;
  cursor pointer
  color black
  text-decoration: none
  &.ng-animate
    transition none
#ongoing-payment-hint
  color #737373
  margin 24px 24px 0 24px
  font-size: 14px;
table.dataTable
  thead
    th
      padding 22px 24px
      font-size 12px
      font-weight 500
      color rgba(0,0,0,0.54)
      border-bottom: 1px solid #ddd;
      &.sorting_desc, &.sorting_asc
        color rgba(0,0,0,0.87)
  tbody
    td
      padding 17.5px 24px
      font-size 13px
      font-weight normal
      color rgba(0,0,0,0.87)
      &.hint
        color #777
        font-size 12px
      /*thead .sorting
        background-image: url("https://railgun.ac/bower_components/datatables/media/css/../images/sort_both.png");*/
    tr:hover
      background-color #EEEEEE
  .row-border, .display
    tbody th, tbody td
      border-top: 1px solid #ddd;
    tbody tr:first-child
      th, td
        border-top: none;
  &.no-footer
    border-bottom: 1px solid #ddd;
.dataTables_wrapper.no-footer .dataTables_scrollBody
  border-bottom: 1px solid #ddd;
  box-sizing: content-box;
.dataTables_title
  padding: 16px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  float: left;
.dataTables_filter
  font-size 12px
  font-family: Roboto
  font-weight normal
  color rgba(0,0,0,0.54)
  padding 16px 14px 16px 0
  input
    line-height: 18px;
.dataTables_footer
  text-align: right;
  line-height 24px
  padding 16px 0
  .dataTables_length, .dataTables_info, .dataTables_paginate
    display inline-block
    float inherit
    font-size 12px
    font-family: Roboto
    font-weight normal
    color rgba(0,0,0,0.54)
    padding 0 32px 0 0
    &:last-child
      padding-right 14px
  .dataTables_paginate .paginate_button
    padding 0

//security
#change-password-form
  font-size 16px
  font-weight normal
  label
    line-height: 1.4
#service-password-button
  margin 16px 24px 16px 0
//#service-password-table
//test
.actions
  position absolute
  opacity: 1;
  top 0
  transition: all .4s ease-in-out

.actions.ng-enter-active,.actions.ng-leave
  opacity: 1;
  top 0
.actions.ng-leave-active,.actions.ng-enter
  opacity: 0;
.actions.ng-leave-active
  top 100px
.actions.ng-enter
  top -100px
body.sign_in, body.sign_up
  .actions.ng-leave-active
    top -100px
  .actions.ng-enter
    top 100px

@media (min-width: 600px)
  nav
    top: 20px;
    width 418px;
    ul
      transform: skew(-22.5deg);
      padding-left: 20px;
      padding-right: 30px;
      margin-left: 15px;
      margin-right: -15px;
      li
        a
          transform: skew(22.5deg);

@media (min-width: 960px)
  #jumbotron
    background-position-x: 80%;
    .actions
      margin-left: 0;
      left: 13%;


//util
.pull-right
  float: right