@import url(webfonts/tos.css);
#main {
  margin: 60px 30px;
  column-count: 2;
  column-gap: 0;
}
#main .card {
  margin: 20px 0;
  padding-left: 120px;
  position: relative;
  display: inline-block;
}
#main .card i::after {
  width: 90px;
  height: 90px;
  top: 50%;
  left: 0;
  margin-top: -45px;
  color: #4309d2;
  font-size: 90px;
  line-height: 1em;
  float: left;
  position: absolute;
  display: block;
}
#main .card > div {
  float: left;
}
#main .card h2 {
  font-size: 25px;
  line-height: 1.5em;
  color: #170d32;
}
#main .card p {
  font-size: 13px;
  line-height: 1.8em;
  color: #1c0b47;
}
@media only screen and (max-width: 930px) {
  #main {
    column-count: 1;
  }
}
