<div id="user" class="clear">
    <a ui-sref="my.index"><img id="user-avatar" ng-src="{{user.avatar_url}}"></a>
    <div id="user-detail">
        <div id="user-name-type">
            <a ui-sref="my.index" id="user-name">zh99998</a>
            <a ui-sref="my.plan" class="user-tag">中国东部</a>
            <a ui-sref="my.plan" class="user-tag">Level 3</a>
        </div>
        <div>
            <a ui-sref="my.security" class="icon-chart-pie" title="剩余流量">10</a>
            <a ui-sref="my.account" class="icon-yen" title="账户余额">20</a>
            <a ui-sref="my.account" id="pay-button" class="button">充值</a>
        </div>
    </div>
</div>