<h1 class="md-title">Windows</h1>
<p>如果你主要用于浏览网页，建议采用 HTTP 代理自动配置脚本的方式。如果你希望让游戏等不支持 HTTP 代理的应用经由 Railgun 访问网络，请使用 VPN。</p>
<h2 class="md-title">HTTP 代理自动配置脚本 (推荐)</h2>
<ol>
    <li>启动Internet Explorer浏览器</li>
    <li>依次进入“工具”->“互联网选项”->“连接”；</li>
    <ul>
        <li>如果你用当前电脑拨号连接，选中此拨号连接，然后点旁边的“设置”；</li>
        <li>如果你用路由器，或者你的电脑通过局域网上网，选择“局域网设置”</li>
    </ul>
    <li>选中“使用自动配置脚本”，然后 复制 下面的地址，并将其 粘贴 在“地址”一栏</li>
    <md-card>
    <table class="dataTable row-border no-footer">
        <tbody>
        <tr>
            <td>使用自动配置脚本</td>
            <td>√</td>
            <td class="hint">不勾选 自动发现配置 和 使用代理服务器</td>
        </tr>
        <tr>
            <td>地址</td>
            <td>http://p.lv5.ac/h12345.pac</td>
            <td class="hint">不要泄露，分享账号请用子账号功能</td>
        </tr>
        </tbody>
    </table>
        </md-card>
    <li>一路点击“确定”；</li>
    <li>结束！</li>
</ol>