# 协议列表

以下是 Railgun 支持的各种连接方式, 如果你对网络相关有足够的了解, 并且希望在 Railgun 没有直接写说明文档的其他平台上运行, 请参照这个列表进行配置.

游戏主机通常支持 HTTP 代理, 路由器通常支持 PPTP 或 L2TP VPN. ChromeOS 对 HTTP 代理和 VPN 都支持. Chromecast 没有任何代理功能, 需要在上级网关上进行设置.

如果发现有某个设备提供了代理/VPN功能, 但是 无法正常连接 Railgun, 请联系 support@railgun.ac

## 配置文件

| 平台或协议 | 版本需求 | 地址
| --- | ---
| PAC | - | http://p.lv5.ac/{{zone}}{{sub_password}}.pac
| Windows | Vista | http://p.lv5.ac/{{zone}}{{sub_password}}.bat
| iOS | 7 | http://p.lv5.ac/{{zone}}{{sub_password}}-{{username}}.mobileconfig
| OSX | El Caption | http://p.lv5.ac/{{zone}}{{sub_password}}-{{username}}.mobileconfig
| OpenVPN | - | http://p.lv5.ac/{{zone}}{{sub_password}}.ovpn

## 代理

### 1. HTTP
| 属性 | 值
| --- | ---
| 主机 | {{zone}}.lv5.ac
| 端口 | {{sub_password}}

### 2. HTTPS
| 属性 | 值
| --- | ---
| 主机 | {{zone}}.lv5.ac
| 端口 | {{sub_password_2}}

浏览器设置页面里没有对这个协议的支持, 需要使用 PAC 或 SwitchyOmega.

### 3. Socks
| 属性 | 值
| --- | ---
| 主机 | {{zone}}.lv5.ac
| 端口 | {{sub_password_3}}

支持 socks 4 / 5, 不支持shadowsocks

## VPN

### 1. IKEv2
| 属性 | 值
| --- | ---
| 主机 | {{zone}}.lv5.ac
| 用户名 | {{username}}
| 密码 | {{sub_password}}

Android 系统不支持.

### 2. IPSec HyBrid RSA
| 属性 | 值
| --- | ---
| 主机 | {{zone}}.lv5.ac
| 用户名 | {{username}}
| 密码 | {{sub_password}}

### 3. IPSec XAuth PSK
| 属性 | 值
| --- | ---
| 主机 | {{zone}}.lv5.ac
| 用户名 | {{username}}
| 密码 | {{sub_password}}
| 预共享密钥 | Railgun

iOS 和 OSX 把这个协议称作 Cisco IPSec.

### 4. PPTP
| 属性 | 值
| --- | ---
| 主机 | {{zone}}.lv5.ac
| 用户名 | {{username}}
| 密码 | {{sub_password}}

### 5. L2TP/IPSec
| 属性 | 值
| --- | ---
| 主机 | {{zone}}.lv5.ac
| 用户名 | {{username}}
| 密码 | {{sub_password}}
| 预共享密钥 | Railgun

### 6. OpenVPN
| 属性 | 值
| --- | ---
| 配置文件 | http://p.lv5.ac/{{zone}}{{sub_password}}.ovpn
| 用户名 | {{username}}
| 密码 | {{sub_password}}

### 7. AnyConnect (OpenConnect)
| 属性 | 值
| --- | ---
| 主机 | {{zone}}.lv5.ac
| 用户名 | {{username}}
| 密码 | {{sub_password}}
