# OS X 连接说明

## HTTP 代理自动配置(PAC)

对于大部分用户，我们推荐使用 HTTP 代理自动配置方式使用 Railgun。

* 打开 **系统编号设置** > **网络**

* 选中你正在使用的网络连接, 点击 **高级**

* 点击 **代理**

* 选中“自动代理配置”，然后 复制 下面的URL，并将其 粘贴 在“URL”一栏：

> | 属性 | 值
> | --- | ---
> | URL | http://p.lv5.ac/{{zone}}{{sub_password}}.pac

* 点击“好”；

> **如果你使用Firefox或Chrome浏览器：**

> - 请按上面的步骤设置IE代理，然后确认禁用了各种代理插件，并且，它们使用的是系统的代理（在浏览器的参数设置里可见）。
<!-- > - 如果你一定要用代理插件，那么看这里。 -->

## HTTP 代理

* 打开 **系统编号设置** > **网络**

* 选中你正在使用的网络连接, 点击 **高级**

* 点击 **代理**

* 选中“Web 代理”，然后填写主机和端口：

> | 属性 | 值
> | --- | ---
> | Web代理服务器 | {{zone}}.lv5.ac
> | 端口 | {{sub_password}}

不需要填写用户名和密码.

* 选中“安全 Web代理”，填写相同的内容

* 点击“好”；

> **如果你使用Firefox或Chrome浏览器：**

> - 请按上面的步骤设置IE代理，然后确认禁用了各种代理插件，并且，它们使用的是系统的代理（在浏览器的参数设置里可见）。
<!-- > - 如果你一定要用代理插件，那么看这里。 -->

## VPN 自动配置

* 请下载 http://p.lv5.ac/{{zone}}{{sub_password}}-{{username}}.mobileconfig 并执行

> 这份描述文件开启了按需连接, 系统会自动进行连接, 如果不需要这个功能, 请在 **系统编号设置** > **网络** > Railgun 中把 "按需连接" 关闭

