# Windows PC 连接说明

请根据需要任选下面其中一种连接方式.

## HTTP 代理自动配置(PAC) (推荐)

对于大部分用户，我们推荐使用 HTTP 代理自动配置方式。

* 启动Internet Explorer浏览器

* 依次进入 **工具 (Alt+X)** > **Internet 选项** > **连接**；

    - 如果你用当前电脑拨号连接，选中此拨号连接，然后点旁边的“设置”；
    - 如果你用路由器，或者你的电脑通过局域网或 Wi-Fi 上网，选择 **局域网设置**

* 选中“使用自动配置脚本”，然后 复制 下面的地址，并将其 粘贴 在“地址”一栏：

> | 属性 | 值
> | --- | ---
> | 使用自动配置脚本 | √
> | 地址 | http://p.lv5.ac/{{zone}}{{sub_password}}.pac

* 一路点击“确定”；

> **如果你使用Firefox或Chrome浏览器：**

> - 请按上面的步骤设置IE代理，然后确认禁用了各种代理插件，并且，它们使用的是系统的代理（在浏览器的参数设置里可见）。
<!-- > - 如果你一定要用代理插件，那么看这里。 -->

## HTTP 代理

* 启动Internet Explorer浏览器

* 依次进入 **工具 (Alt+X)** > **Internet 选项** > **连接**；

- 如果你用当前电脑拨号连接，选中此拨号连接，然后点旁边的“设置”；
- 如果你用路由器，或者你的电脑通过局域网或 Wi-Fi 上网，选择 **局域网设置**

> | 属性 | 值
> | --- | ---
> | 主机 | {{zone}}.lv5.ac
> | 端口 | {{sub_password}}

* 一路点击“确定”；

> **如果你使用Firefox或Chrome浏览器：**

> - 请按上面的步骤设置IE代理，然后确认禁用了各种代理插件，并且，它们使用的是系统的代理（在浏览器的参数设置里可见）。

## VPN 自动配置脚本

* 请下载 http://p.lv5.ac/{{zone}}{{sub_password}}.bat 并执行

* 点击系统托盘区的网络图标, 选择 "Railgun", 点击连接

> - 自动配置脚本适用于 Windows 7 或更高版本.
> - 配置脚本只需要下载执行一次, 执行成功后可以删除. 连接 VPN 每次开机后需要手动执行.
> - 目前的 VPN 服务只支持 IPv4, 如果你有 IPv6 网络, 并且连接 VPN 后访问支持 IPv6 的站点不走 VPN, 请禁用 IPv6 或设置 IPv4 优先.
> - 默认的 IKEv2 协议在部分网络环境中无法连接, 如果遇到这个问题请把协议设置为PPTP或L2TP.

## VPN

* 右键点击系统托盘区域的 "网络" 图标.

* 点击 "打开网络和共享中心".

* 点击 "建立新的连接或网络"

* 选择 "连接到工作区", 点击 "下一步"

* 选择 "使用我的 Internet 连接"

* 填写地址和名称, 其他设置保持默认, 点击 "创建"

> | 属性 | 值
> | --- | ---
> | 地址 | {{zone}}.lv5.ac
> | 名称 | Railgun (或其他任意自定义名称)

* 右键点击系统托盘区域的 "网络" 图标, 点击 VPN - Railgun - 连接, 输入用户名和密码

> | 属性 | 值
> | --- | ---
> | 用户名 | {{username}}
> | 密码 | {{sub_password}}

> - 建立和配置 VPN 只需执行一次, 执行成功后可以删除. 连接 VPN 每次开机后需要手动执行.
> - Windows 10 如果连接 VPN 后流量没有走 VPN, 可能是 SplitTunneling 开启了, 在 powershell 中执行 Set-VpnConnection "Railgun" -SplitTunneling $False . 其中 Railgun 是你的 VPN 连接名称
> - 目前的 VPN 服务只支持 IPv4, 如果你有 IPv6 网络, 并且连接 VPN 后访问支持 IPv6 的站点不走 VPN, 请禁用 IPv6 或设置 IPv4 优先.
> - 默认的 IKEv2 协议在部分网络环境中无法连接, 如果遇到这个问题请把协议设置为PPTP或L2TP. L2TP 预共享密钥为 "Railgun"
